{% extends '::layout.html.twig' %}

{% block body -%}
    <div class="container">
    <div class="row">    
    <h1 class="span2 offset5">Comptabilité</h1>
    
    </div>
    </div>    
{% endblock %}
