{% extends "::layout.html.twig" %}
{% block body %}

    <div class="container">

        <div class="row">
            <div class="span4 offset4">
                {% include '::col-left.html.twig' with {'util':'2'} %}
            </div>
        </div>

    </div>





{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker-fr.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script> 
    <script>
        $('.datepicker').datepicker({autoclose: true, todayHighlight: true, format: "yyyy-mm-dd", language: "fr"});
        $(function() {
            $('#datetimepicker3').datetimepicker({
                pickDate: false
            });
            $('#datetimepicker2').datetimepicker({
                pickDate: false
            });
        });
    </script>
{% endblock %}